pkgbase = shapez-community-edition-git
	pkgdesc = Community-maintained fork of shapez.io, an open-source factory-building game (git master)
	pkgver = r1
	pkgrel = 1
	url = https://github.com/kazu0617/shapez-community-edition
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = nodejs
	makedepends = npm
	makedepends = java-runtime
	makedepends = ffmpeg
	makedepends = git
	provides = shapez-community-edition
	conflicts = shapez-community-edition
	conflicts = shapez-community-edition-bin
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxtst
	depends = libxss
	depends = hicolor-icon-theme
	source = shapez-community-edition::git+https://github.com/kazu0617/shapez-community-edition.git
	source = shapez-community-edition-git.desktop
	source = shapez-community-edition-git.sh
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = shapez-community-edition-git
